@import "../../styles.scss";

section {
    background-color: $background;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #141D2F;
    z-index: 999;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 100px;
    font-size: 24px;
    max-width: $maxContent;
    margin-inline: auto;

    .logo {
        width: 150px;
    }

    @media (max-width: 950px) {
        padding: 25px;
    }

    @media (max-width: 580px) {
        padding: 12px 25px;
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 29px;

    img {
        width: 50px;
        cursor: pointer;
    }

    @media (max-width: 950px) {
        display: none;
    }
}


a:hover {
    cursor: pointer;
    color: #70E61C;
}

.burgerMenu {
    display: none;

    &:hover {
        cursor: pointer;

        path {
            stroke: $green;
        }
    }

    @media (max-width: 950px) {
        display: block;
    }
}

.close {
    &:hover {
        cursor: pointer;

        path {
            stroke: $green;
        }
    }

    @media (min-width: 950px) {
        display: none;
    }
}

.mobileNav {
    position: fixed;
    top: 92px;
    left: 0;
    width: 100vw;
    max-width: $maxContent;
    height: 100vh;
    opacity: 95%;    

    @media (min-width: 950px) {
        display: none;
    }
}

.overlay {
    height: 100vh;
    position: relative;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 40px;

    div {
        display: flex;
        gap: 5px;

        p {            
            cursor: pointer;

            &:hover{
              color: $green;
            }
        }
    }
}

.d-none {
    display: none;
}

.openSidebar {
    transform: none;
    
}

.closeSidebar {
    transform: translateX(100%);
}

.toggle-button-cover {
  position: relative;
}

.button-cover {
  height: 100px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.de,
.eng {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.btn-box {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  //margin: -20px auto 0 auto;
  overflow: hidden;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.de {
  z-index: 2;
}

.eng {
  width: 100%;
  background-color: $purple;
  transition: 0.3s ease all;
  z-index: 1;
}

.btn-box,
.btn-box .eng {
  border-radius: 100px;
}

#btn-toggle .de:before {
  content: "EN";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: $green;
  border-radius: 50%;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#btn-toggle .checkbox:active + .de:before {
  width: 46px;
  border-radius: 100px;
}

#btn-toggle .checkbox:checked:active + .de:before {
  margin-left: -26px;
}

#btn-toggle .checkbox:checked + .de:before {
  content: "DE";
  left: 42px;
  color: white;
  background-color: $purple;
}

#btn-toggle .checkbox:checked ~ .eng {
  background-color: $green;
}