<header>
    <div>
        <a href="">
            <img src="assets/img/logos/logo.png" alt="personal logo">
        </a> 
    </div>
    <div class="menu">
        <a href="#about-me">{{'header.about' | translate}}</a>
        <a href="#my-skills">{{'header.skills' | translate}}</a>
        <a href="#portfolio">Portfolio</a>
        <img (click)="changeLanguage('de')" src="/assets/img/german.png" alt="german">
        <img (click)="changeLanguage('en')" src="/assets/img/english.png" alt="english">
    </div>
</header>