<footer>
    <div class="logo-imprint">
        <a href="">
            <img src="assets/img/logos/logo.png" alt="personal logo">
        </a>        
        <a class="imprint" href="javascript:void(0)" (click)="navigateTo('/imprint')">
            {{'footer.imprint' | translate}}</a>
    </div>
    <span>© Sebastian Torney 2024</span>
    <div class="socials">
        <a href="">
            <img src="assets/img/logos/github.png" alt="github logo">
        </a>
        <a href="">
            <img src="assets/img/logos/email.png" alt="email logo">
        </a>
        <a href="">
            <img src="assets/img/logos/linkedin.png" alt="linkedin logo">
        </a>
    </div>
</footer>