<section>
    <footer>
        <a href="">
            <img class="logo" src="assets/img/logos/logo.png" alt="personal logo">
        </a>

        <div class="imprintDiv">
            <span>© Sebastian Torney 2024</span>
            <a class="imprintDesktop" href="javascript:void(0)" (click)="navigateTo('/imprint')">
                {{'footer.imprint' | translate}}</a>
        </div>
        <div class="socials">
            <a target="_blank" href="https://github.com/SebastianMT7">
                <img src="assets/img/logos/github.png" alt="github logo">
            </a>
            <a href="mailto: STorney@web.de">
                <img src="assets/img/logos/email.png" alt="email logo">
            </a>
            <a target="_blank" href="">
                <img src="assets/img/logos/linkedin.png" alt="linkedin logo">
            </a>
        </div>
        <!-- <a class="imprintMobile" href="javascript:void(0)" (click)="navigateTo('/imprint')">
    {{'footer.imprint' | translate}}</a> -->
        <a class="imprintMobile" routerLink="/imprint">
            {{'footer.imprint' | translate}}</a>
    </footer>
</section>
<!-- <a class="imprintMobile" href="javascript:void(0)" (click)="navigateTo('/imprint')">
    {{'footer.imprint' | translate}}</a> -->