<section id="about-me">
    <main>
        <h2>About me</h2>
        <p>Hi,I am Sebastian Torney a Front-end developer based in Bergwitz,
            Germany(....) Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ea dicta praesentium soluta sequi aperiam optio sed consequatur? Omnis aut
            iusto esse aspernatur ipsum modi, voluptatibus accusantium, animi eaque
            nulla minus.
        </p>
        <div class="infos">
            <div>
                <img src="/assets/img/forms/bulb.png" alt="bulb">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Amet dolore placeat, et libero molestias dignissimos
                    error. In fugit harum, temporibus veritatis corrupti ut,
                    aspernatur itaque ab dignissimos quia autem hic.
                </p>
            </div>
            <div>
                <img src="/assets/img/forms/puzzle.png" alt="puzzle">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Amet dolore placeat, et libero molestias dignissimos
                    error. In fugit harum, temporibus veritatis corrupti ut,
                    aspernatur itaque ab dignissimos quia autem hic.
                </p>
            </div>
        </div>
    </main>
    <aside>
        <img src="/assets/img/ellipse+photo.png" alt="circlephoto">
        <div class="greenLine"></div>
    </aside>
</section>