<section id="about-me">
    <main>
        <h2>{{'about.headline' | translate}}</h2>
        <p>{{'about.text1' | translate}}</p>        
        <div class="infos">
            <div>
                <img src="assets/img/bulb.png" alt="bulb">
                <p>{{'about.text2' | translate}}</p>
            </div>
            <div>
                <img src="assets/img/puzzle.png" alt="puzzle">
                <p>{{'about.text3' | translate}}</p>
            </div>
        </div>
    </main>
    <aside>
        <img src="assets/img/ellipse+photo.png" alt="circlephoto">
        <div class="greenLine"></div>
    </aside>
    
</section>