@import './../../../styles.scss';

section {
    @include dFlex($gap: 149px);
    z-index: 5;
    position: relative;
    overflow: hidden;
}

main {
    @include dFlex($ai: null, $jc: null, $fd: column, $gap:35px);
    padding: 138px 0 178px 100px;

}

.infos {
    @include dFlex($ai: null, $jc: null, $fd: column, $gap:35px);

    div {
        display: flex;
        padding-left: 27px;
        gap: 35px;
    }

    img {
        height: 50px;
    }
}

aside {
    @include dFlex($jc: null);
}

.greenLine{
    width: 267px;
    height: 4px;
    background-color: $green;
}