@import './../../../styles.scss';

.bgSection {
    width: 100%;
    position: relative;
    scroll-margin-top: 150px;
}

.shadowPurple {
    position: absolute;
    right: 0;
    top: -200px;
    z-index: -1;
    display: flex;
    justify-content: center;
}

section {
    @include dFlex($gap: 50px);
    z-index: 5;
    //position: relative;
    // overflow: hidden;
    // scroll-margin-top: 11050px;
}

main {
    @include dFlex($ai: null, $jc: null, $fd: column, $gap: 35px);
    padding: 138px 0 178px 100px;

}

.infos {
    @include dFlex($ai: null, $jc: null, $fd: column, $gap: 35px);

    div {
        display: flex;
        padding-left: 27px;
        gap: 35px;
    }

    img {
        height: 50px;
    }
}

aside {
    @include dFlex($jc: null);
}

.greenLine {
    width: 267px;
    height: 4px;
    background-color: $green;
}


@media (max-width: 1355px) {
    aside {
        display: none;
    }

    main {
        padding: 138px 100px 178px 100px;
    }
}

@media (max-width: 1220px) {
    .shadowPurple {
        // height: 80%;
        // width: calc(100% - 20px);
        top: 50px;
    }
}

@media (max-width: 700px) {
    main {
        padding: 138px 50px 178px 50px;

        h2 {
            font-size: 60px;
        }
    }

    .bgSection {
        overflow: hidden;
    }
}

@media (max-width: 500px) {
    main {
        padding: 100px 25px 130px 25px;
    }
}

@media (max-width: 380px) {
    main {
        h2 {
            font-size: 40px;
        }
    }
}