<section id="contact">
    <div class="head">
        <div class="linePurple"></div>
        <h2>Contact</h2>
    </div>

    <div class="content">
        <aside>
            <p>Got a problem to solve?</p>
            <span>
                Contact me this form, I am interesed in hearing from your
                ideas and contributin to your projects with my work.
            </span>
            <div>
                <span>Need a Frontend developer? <b>Contact me!</b></span>
            </div>
        </aside>
        <main>
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <input #name="ngModel" type="text" minlength="4" id="name" name="name" [(ngModel)]="contactData.name"
                    placeholder="Your name" [ngClass]="{'invalidInput': name.invalid && name.touched}" required>
                @if (name.invalid && name.touched) {
                <p>Please enter your full name</p>

                }
                <input #email="ngModel" type="email" minlength="5" id="email" name="email"
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" [(ngModel)]="contactData.email"
                    (ngModelChange)="checkFields()" [ngClass]="{'invalidInput': email.invalid && email.touched}"
                    placeholder="Your email" required>
                @if (email.invalid && email.touched) {
                <p>Please enter a valid email address</p>
                }

                <textarea #message="ngModel" type="text" minlength="10" id="message" name="message"
                    [(ngModel)]="contactData.message" placeholder="Your message" (ngModelChange)="checkFields()"
                    required [ngClass]="{'invalidInput': message.invalid && message.touched}"></textarea>
                @if (message.invalid && message.touched) {
                <p>Please enter a message</p>
                }

                <div class="checkDiv">
                    <div>
                        <div class="checkbox-container">
                            <input #checkBox="ngModel" type="checkbox" id="myCheckbox"
                                [(ngModel)]="contactData.checkbox" name="checkbox" required>
                            <label for="myCheckbox"></label>
                        </div>
                        <span>I´ve read the <a href="">privacy politicy</a>
                            and agree to the processing of my data as outlined
                        </span>
                    </div>
                    @if (!checkBox.valid) {
                    <p>Please accept the privacy politicy</p>
                    }
                </div>
                <button class="btnGrowing" type="submit" [disabled]="!allFieldsFilled">
                    Send message :)
                </button>
            </form>
            <div class="goUpBtn">
                <a href="#above-the-fold">
                    <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="37" height="37" rx="18.5" stroke="white" stroke-width="2" />
                        <path d="M18 15.828L13.343 20.485C12.9526 20.8755 12.3195 20.8755 11.929 20.485C11.5386 20.0945 11.5386 
                        19.4615 11.929 19.071L18.2929 12.7071C18.6834 12.3166 19.3166 12.3166 19.7071 12.7071L26.071 19.071C26.4615 
                        19.4615 26.4615 20.0945 26.071 20.485C25.6806 20.8755 25.0475 20.8755 24.657 20.485L20 15.828L20 27C20 27.5523 
                        19.5523 28 19 28C18.4477 28 18 27.5523 18 27L18 15.828Z" fill="white" />
                    </svg>
                </a>
            </div>
        </main>
    </div>
</section>