@import './../../../styles.scss';

section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
    max-width: $maxContent;
    overflow: hidden;
    scroll-margin-top: 850px;

    .head {
        @include dFlex($jc: null, $gap: 50px);
    }
}

.linePurple {
    width: 50px;
    height: 4px;
    background-color: $purple;
    border-radius: 0 4px 4px 0;
}

.content {
    @include dFlex($ai: null, $gap: 150px);
    padding: 85px 100px 0 100px;
}

aside {
    @include dFlex($fd: column, $jc: null, $ai: null, $gap: 35px);

    p {
        font-size: 32px;
        font-weight: 700;
    }
}

main {
    min-width: 45%;
}

form {
    @include dFlex($fd: column, $gap: 40px);

    a {
        color: $purple;

        &:hover {
            text-decoration: underline;
        }
    }

    div {
        position: relative;
        width: 100%;

        .signal {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        p {
            position: absolute;
            color: red;
            font-weight: 200;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0 50px $background inset;
}

input,
textarea {
    font: inherit;
    border: 1px solid $purple;
    border-radius: 10px;
    height: 50px;
    background-color: $background;
    color: white;
    width: 100%;
    // width: 617px;
    padding: 0 25px;

    &::placeholder {
        color: white;
    }

    &:hover {
        cursor: pointer;
        border-color: $green;
    }

    &:focus {
        outline: none;
        background-color: $background;
    }

    &:focus::placeholder {
        color: transparent;
    }

    &:valid {
        border-color: $green;
    }
}

textarea {
    min-height: 200px;
    text-wrap: wrap;
    resize: vertical;
    word-break: break-word;
    font-size: 17px;
    padding-top: 12px;
}

.invalidInput {
    border: 1px solid red !important;
}

.checkDiv {
    @include dFlex($jc: flex-start, $ai: flex-start);
    font-size: 14px;

    p {
        position: absolute;
        bottom: -24px;
        left: 47px;
    }
}

.checkbox-container {
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding-left: 10px;
    gap: 8px;
}

/* Stil für das Label, das kein Häkchen enthält */
//     input {
//         height: 24px;
//         width: 24px;
//         border: 2px solid $green;
//         border-radius: 0;
//         padding: 0;
//         background-color: transparent;
//         position: relative;
//         cursor: pointer;
//         appearance: none;
//         -webkit-appearance: none;
//         -moz-appearance: none;
//     }
// }

// /* Stil für das Label, das das Häkchen enthält */
// .checkbox-container input[type="checkbox"]::after {
//     content: '\2714';
//     width: 12px;
//     height: 12px;
//     border-width: 0 3px 3px 0;
//     display: none;
//     color: $green;
//     position: absolute;
//     left: 3px;
// }

// /* Wenn die Checkbox aktiviert ist, zeige das Häkchen an */
// .checkbox-container input[type="checkbox"]:checked::after {
//     display: block;
//     text-align: center;
//     line-height: 20px;
// }

/* Stil für das Label der benutzerdefinierten Checkbox */
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    // user-select: none;
    background-color: transparent;
}

/* Verstecken des eigentlichen Checkbox-Eingabefeldes */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 24px;
    width: 24px;
    border: 2px solid $green;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
}

/* Stil für das Checkmark-Symbol */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $background;
    border: 2px solid $green;
    box-sizing: border-box;
}

/* Häkchen in der Mitte des Checkmarks */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid $green;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* Anzeigen des Häkchens, wenn die Checkbox aktiviert ist */
.custom-checkbox input:checked+.checkmark:after {
    display: block;
}

/* Größe des Checkmarks proportional anpassen */
.checkmark {
    width: 25px;
    height: 25px;
}

.custom-checkbox input:checked+.checkmark {
    background-color: $background;
}

/* Responsive Anpassung: Checkmark bleibt quadratisch */
@media (max-width: 600px) {
    .checkmark {
        width: 20px;
        height: 20px;
    }

    .checkmark:after {
        left: 7px;
        top: 3px;
        width: 4px;
        height: 8px;
        border-width: 0 2px 2px 0;
    }
}

.goUpBtn {
    display: flex;
    justify-content: flex-end;
    padding-top: 51px;

    svg {
        height: 39px;
        width: 39px;

        &:hover {
            rect {
                stroke: $green;
            }

            path {
                fill: $green;
            }
        }
    }
}

.confirmMailDiv {
    @include dFlex();
    position: absolute;
    left: calc(50vw - 150px);
    bottom: calc(50vh - 40px);

    div {
        @include dFlex($fd: column, $gap: 5px);
        background-color: $purple;
        border: solid 1px $purple;
        border-radius: 10px;
        padding: 10px;
    }
}

.shadowGreen {
    position: absolute;
    left: -250px;
    bottom: -100px;
    z-index: -1;
    transform: rotate(270deg)
}


@media (max-width: 1050px) {
    .content {
        @include dFlex($fd: column, $ai: center, $gap: 150px);
        padding: 85px 50px 0 50px;
    }

    .shadowGreen {
        bottom: 50px;
    }
}

@media (max-width: 700px) {
    .content {
        padding: 85px 25px 0 25px;
    }

    .head {
        h2 {
            font-size: 60px;
        }
    }
}

@media (max-width: 500px) {
    section {
        .head {
            gap: 16px;
        }
    }
}

@media (max-width: 380px) {
    section {
        .head {

            h2 {
                font-size: 40px;
            }
        }
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2024-7-18 21:28:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}


.slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}