<div class="bgShape">
    <section class="maxContent" id="atf">
        <section class="above-the-fold">
            <aside>
                <img class="heroImg" src="assets/img/hero-photo.png" alt="hero-photo">
                <div>
                    <img src="assets/img/forms/photo-shadows.png" alt="">
                </div>
            </aside>
            <main>
                <div>
                    <div class="rotText" [ngClass]="{
                    'german': isGerman === true
                }">
                        {{'atf.iam' | translate}}
                    </div>
                    <div class="headline">
                        <h2>Sebastian Torney</h2>
                        <span>{{'atf.dev' | translate}}</span>
                    </div>
                </div>
                <div class="btnPos">
                    <button class="btnGrowing">
                        <a href="#contact">{{'atf.btn' | translate}}</a>
                    </button>
                </div>
            </main>
        </section>

        <nav class="socials">
            <div class="line"></div>
            <a target="_blank" href="https://github.com/SebastianMT7">
                <img src="assets/img/logos/github.png" alt="github logo">
            </a>
            <a href="mailto: STorney@web.de">
                <img src="assets/img/logos/email.png" alt="email logo">
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/sebastian-torney-790363322/">
                <img src="assets/img/logos/linkedin.png" alt="linkedin logo">
            </a>
            <a class="email" href='mailto:info@sebastian-torney.de'>info&#64;sebastian-torney.de</a>
        </nav>

        <!-- <img class="shapeDesktop" src="assets/img/forms/shapeDesktop.png" alt="top-shape"> -->

        <!-- <div class="scrollDown">
            <span>{{'atf.scroll' | translate}}</span>
            <img src="assets/img/arrow-down-line.png" alt="arrow-down">
        </div> -->

    </section>
    <div class="shape">
        <img class="shapeDesktop" src="./../../../assets/img/forms/shapeDesktop.png" alt="">
        <img class="shapeMobile" src="./../../../assets/img/forms/shapeMobile.png" alt="">
        <!-- <svg viewBox="0 0 1442 1079" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M1442 0V712.4C1417.8 724.3 1393 735.9 1367.7 747.3C1174.2 834.1 943.8 908.2 682.9 967.3C404.9 1030.3 152.1 1063 2 1078.6L0 421.5C236 441.5 353.4 434.372 569.5 385C984 290.3 1281.7 152.1 1442 0Z"
                    fill="url(#paint0_radial_535_3084)" />
                <defs>
                    <radialGradient id="paint0_radial_535_3084" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(674 42.5) rotate(82.2154) scale(887.756 1492.19)">
                        <stop offset="0.00372417" stop-color="#1A2743" />
                        <stop offset="0.135417" stop-color="#27334B" />
                        <stop offset="0.719125" stop-color="#141D2F" />
                    </radialGradient>
                </defs>
            </svg> -->
        <!-- <div></div> -->
    </div>
</div>