<section class="maxContent"  id="atf">
    <section class="above-the-fold">
        <aside>
            <img src="assets/img/hero-photo.png" alt="hero-photo">
            <img class="photoShadow" src="assets/img/forms/photo-shadows.png" alt="">
        </aside>
        <main>
            <div>
                <div class="rotText"             
                [ngClass]="{
                    'german': isGerman === true
                }">                 
                  {{'atf.iam' | translate}}
                </div>
                <div class="headline">
                    <h2>Sebastian Torney</h2>
                    <span>{{'atf.dev' | translate}}</span>
                </div>
            </div>
            <div class="btnPos">
                <button class="btnGrowing">
                    <a href="#contact">{{'atf.btn' | translate}}</a>
                </button>
            </div>
        </main>
    </section>

    <section class="socials">
        <div class="line"></div>
        <a href="">
            <img src="assets/img/logos/github.png" alt="github logo">
        </a>
        <a href="">
            <img src="assets/img/logos/email.png" alt="email logo">
        </a>
        <a href="">
            <img src="assets/img/logos/linkedin.png" alt="linkedin logo">
        </a>
        <a class="email" href='mailto:STorney@web.de'>STorney&#64;web.de</a>
    </section>
    
    <img class="shapeDesktop" src="assets/img/forms/shapeDesktop.png" alt="top-shape">
    <img class="shapeMobile" src="assets/img/forms/shapeMobile.png" alt="top-shape">

    <div class="scrollDown">
        <span>{{'atf.scroll' | translate}}</span>
        <img src="assets/img/arrow-down-line.png" alt="arrow-down">
    </div>

   

    <img class="shadowPurple" src="assets/img/forms/purple shadow-about-me.png" alt="top-shape">

</section>