<section>
    <aside>

        <img src="assets/img/hero-photo.png" alt="hero-photo">
    </aside>
    <main>
        <div>
            <div class="rotText">I am</div>
            <div class="headline">
                <span>Sebastian Torney</span>
                <span>FRONTEND DEVELOPER</span>
            </div>
        </div>
        <div class="btnPos">
            <button class="btnGrowing">
                <a href="">Let´s talk</a>
            </button>
        </div>
    </main>
</section>

<div class="socials">
    <div class="line"></div>
    <a href="">
        <img src="assets/img/logos/github.png" alt="github logo">
    </a>
    <a href="">
        <img src="assets/img/logos/email.png" alt="email logo">
    </a>
    <a href="">
        <img src="assets/img/logos/linkedin.png" alt="linkedin logo">
    </a>
    <a href="">STorney&#64;web.de</a>
</div>

<div class="shape">
    <img src="assets/img/forms/top-shape.png" alt="top-shape">
</div>

<div class="scrollDown">
    <span>Scroll down</span>
    <img src="assets/img/forms/arrow-down-line.png" alt="arrow-down">
</div>

