@import './../../../styles.scss';

.background {
  @include dFlex($fd: column, $gap: 32px);
  background-color: $background;
  padding: 64px 100px;  
  position: relative;

  @media (max-width: 950px) {
    padding: 64px 25px;
  }
}

section {
  max-width: $maxContent;
  margin-inline: auto;
  min-height: calc(100dvh - 200px);
  width: 100%;
  z-index: 10;
}

.backBtn {
  transform: rotate(-90deg);
  height: 39px;
  width: 39px;
  cursor: pointer;

  &:hover {
    rect {
      stroke: $green;
    }

    path {
      stroke: $green;
      fill: $green;
    }
  }
}

a {
  color: $lightblue;

  &:hover {
    text-decoration: underline;
  }
}

.posBtnBack {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 150px;

  a {
    margin-left: auto;
  }

  @media (max-width: 650px) {
    padding-right: 20px;
  }
}

h1 {
  font-size: 28px;
  color: $purple;
}

h2 {
  font-size: 22px;
  color: $purple;
}

h3 {
  font-size: 18px;
  color: $green;
}

.web-laender-node{
  word-break: break-all;
}

.greenSide {
  position: absolute;
  top: 250px;
  left: 0;

  @media (max-width: 630px) {
    width: calc(100% - 30px);
    top: 15%;
  }
}

.purpleSide {
  position: absolute;
  top: 1200px;
  right: 0;

  @media (max-width: 630px) {
    top: 50%;
    width: calc(100% - 30px);
  }
}