@import './../../../styles.scss';

.background {
  @include dFlex($fd: column, $gap: 32px);
  background-color: $background;
  padding: 64px 100px;
  z-index: 10;
  // @media(max-width: 599px){
  //     padding: 120px 16px;
  // }
  position: relative;

  @media (max-width: 950px) {
    padding: 64px 25px;
  }
}

section {
  max-width: 1440px;
  margin-inline: auto;
  min-height: calc(100dvh - 200px);
}

// .back {
//   margin-left: auto;
// }

.backBtn {
  transform: rotate(-90deg);
  height: 39px;
  width: 39px;
  cursor: pointer;

  &:hover {
    rect {
      stroke: $green;
    }

    path {
      stroke: $green;
      fill: $green;
    }
  }
}

.posBtnBack {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 150px;

  a {
    margin-left: auto;
  }
}

a {
  color: $lightblue;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 28px;
  color: $purple;
}

h2 {
  font-size: 22px;
  color: $purple;
}

h3 {
  font-size: 18px;
  color: $green;
}

.purpleSide {
  position: absolute;
  bottom: 50px;
  left: 0px;
  transform: rotate(180deg);
  // opacity: 50;
  z-index: -1;
}

.greenSide {
  position: absolute;
  top: 50px;
  right: 0px;
  transform: rotate(180deg);
  opacity: 50;
  z-index: -1;
}