@import './../../../styles.scss';

section {
    @include dFlex($ai: null, $jc: null, $gap:48px);
    padding-left: 100px;
    position: relative;
    scroll-margin-top: 250px;
}

.skillList {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 700;
    gap: 54px;

    div {
        @include dFlex($fd: column, $gap:10px);
        width: 130px;
    }

    img {
        height: 60px;
        transition: transform 300ms ease-in-out;
        &:hover {
            transform: translateY(-10px);
        }
    }
}

aside {
    @include dFlex($fd: column, $gap:57px);
    min-width: 571px;
}

.asideTop {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.headlineSkills {
    @include dFlex($gap:42px, $jc:null);
}

.line {
    width: 58px;
    height: 4px;
    background-color: $purple;
    border-radius: 2px 0 0 2px;
}

.greenShadow{
    position: absolute;
    top: 50px;
    left: 0;
    z-index: -1;
}