<section>
    <main>
        <div>

        </div>
    </main>
    <aside>
        <div class="asideTop">
            <div class="headlineSkills">
                <span>My skills</span>
                <div class="line"></div>
            </div>
            <p>I have gained experience in building projects with various
                front end technologies and concepts.
            </p>
        </div>
        <button class="btnGrowing">
            <a href="">Get in touch</a>
        </button>
    </aside>
</section>