<div class="bgSection">
    <section data-aos="fade-right" id="my-skills">
        <div>
            <button class="btnGrowing mobileBtn">
                <a href="#contact">{{'skills.btn' | translate}}</a>
            </button>
        </div>
        <main class="skillList">
            <div class="single-skill" *ngFor="let skill of skillList">
                <img class="img-skill" src="{{ skill.img }}" alt="">
                <span>{{ skill.name }}</span>
            </div>
            <div class="growth-mindset" (mouseenter)="ishovered = true" (mouseleave)="ishovered = false">
                <img src="assets/img/logos/continually-learning.png" alt="">
                <span>Growth Mindset</span>

                @if (ishovered) {
                <div class="bubble">
                    <div class="bubble-text">
                        <p>{{ 'skills.speech-bubble' | translate }}</p>
                        <img src="assets/img/react-vue.png" alt="">
                    </div>
                    <img class="triangle" src="assets/img/forms/triangle.png" alt="">
                </div>
                }
            </div>
        </main>
        <aside>
            <div class="asideTop">
                <div class="headlineSkills">
                    <h2>{{'skills.headline' | translate}}</h2>
                    <p>{{'skills.text' | translate}}</p>
                </div>
                <div class="lineDiv">
                    <hr class="line">
                </div>
            </div>
            <button class="btnGrowing desktopBtn">
                <a href="#contact">{{'skills.btn' | translate}}</a>
            </button>
        </aside>
    </section>
    <img class="greenShadow" src="assets/img/forms/green-shadow-skills.png" alt="">
</div>