@import './../../../styles.scss';

.bgSection {
    position: relative;
    max-width: $maxContent;
    margin-inline: auto;
}

section {
    @include dFlex($ai: null, $jc: null, $gap: 32px);
    padding-left: 0;
    position: relative;
    scroll-margin-top: 200px;
}

.skillList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 700;
    gap: 54px;
}

.single-skill {
    @include dFlex($fd: column, $gap: 10px);
    width: 130px;

    img {
        height: 60px;
        transition: transform 300ms ease-in-out;

        &:hover {
            transform: translateY(-10px);
        }
    }
}

.growth-mindset {
    @include dFlex($fd: column, $gap: 10px);
    width: 135px;
    position: relative;
    color: #9747FF;
    
    img {
        transition: transform 300ms ease-in-out;

        &:hover {
            transform: translateY(-10px);
        }
    }
    .img-special-interest {
        position: absolute;
        height: 130px;
        top:-130px;
        left: 20px;
    }
}

aside {
    @include dFlex($fd: column, $gap: 57px);
    min-width: 45%;
}

.asideTop {
    @include dFlex($jc: null, $ai: flex-start, $gap: 34px);
}

.headlineSkills {
    @include dFlex($fd: column, $gap: 42px, $ai: flex-end);
    width: 100%;
    text-align: end;

    h2 {
        white-space: nowrap;
    }
}

.lineDiv {
    display: flex;
    align-items: center;
    height: 136px;
}

.line {
    background-color: $purple;
    border: unset;
    height: 4px;
    border-radius: 4px;
    flex-grow: 1;
    width: 58px;
}


.greenShadow {
    position: absolute;
    top: 0px;
    left: -250px;
    z-index: -1;
    transform: rotateZ(0deg);
}

@media (min-width: 1415px) {
    .mobileBtn {
        display: none;
    }
}


@media (max-width: 1415px) {
    section {
        flex-direction: column-reverse;
        gap: 100px;

        :nth-child(1) {
            display: flex;
            justify-content: center;
        }
    }

    aside {
        @include dFlex($fd: row, $gap: 57px);
        justify-content: flex-end;
        width: 100%;

        h2 {
            width: auto;
            white-space: nowrap;
        }
    }

    .desktopBtn {
        display: none;
    }
}

@media (max-width: 700px) {
    section {
        padding-left: 0;

        h2 {
            font-size: 60px;
        }
    }

    .asideTop {
        padding-left: 50px;

        .skillList {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;


            img {
                height: 40px;
            }
        }
    }

    .lineDiv {
        display: flex;
        align-items: center;
        height: 90px;
    }
}

@media (max-width: 500px) {
    .asideTop {
        padding-left: 25px;
        gap: 16px;

    }

    .line {
        width: 20px;
    }

}

@media (max-width: 380px) {
    section {
        h2 {
            font-size: 40px;
        }
    }

    .skillList {
        gap: 30px;


        img {
            height: 40px;
        }
    }

    .lineDiv {
        display: flex;
        align-items: center;
        height: 60px;
    }

    .greenShadow {
        top: 0px;
        left: -290px;
    }
}