@import './../../styles.scss';


.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: $maxContent;
    margin-inline: auto; //zentriert horizontal alles mittig   
}