@import './../../../styles.scss';

.bgSection{
    position: relative;
    max-width: $maxContent;
    margin-inline: auto;
    scroll-margin-top: 50px
}

section {
    // @include dFlex($fd:column);
    padding-top: 175px;
    position: relative;
    max-width: $maxContent;
    overflow: hidden;    ;
}

.head {
    //@include dFlex($jc:null,$fd:column, $gap:36px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 100px;
}

.headline {
    // @include dFlex($jc: null, $gap:36px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 36px;
    width: 100%;

    h2 {
        text-align: center;
    }
}

.shortLiDiv {
    width: 33%;
    @include dFlex($jc: flex-end);
}

.h2Div {
    width: 33%;
    min-width: fit-content;
}

.longLiDiv {
    width: 33%;
}

.shortLine {
    background-color: $purple;
    border: unset;
    height: 4px;
    border-radius: 4px;
    width: 110px;
}

.bigLine {
    background-color: $purple;
    border: unset;
    height: 4px;
    border-radius: 4px;
    flex-grow: 1;
    min-width: 75px;
}

main {
    @include dFlex($fd: column);
}

.projectCard {
    @include dFlex($gap: 35px);
    padding: 0 100px 0 172px;

    :nth-child(1) {
        @include dFlex($jc: null, $ai: null, $fd: column, $gap: 15px);
    }

    img {
        height: 500px;
    }
}

.reverseRow {
    flex-direction: row-reverse;
    padding: 0 172px 0 100px;
}

.description {
    :nth-child(1) {
        font-size: 32px;
        font-weight: 700;
        color: $purple;
    }

    :nth-child(2) {
        font-size: 23px;
        font-weight: 400;
        color: $green;
    }
}

.buttons {
    display: flex;
    gap: 86px;
    padding-top: 35px;
}

.liveTest {
    font-size: 23px;
    background-color: $purple;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    gap: 10px;

    &:hover {
        cursor: pointer;
        background-color: $green;
    }
}

.gitHub {
    font-size: 23px;
    background-color: $background;
    border: 1px solid $green;
    border-radius: 10px;
    padding: 15px 30px;
    gap: 10px;

    &:hover {
        cursor: pointer;
        background-color: $green;
    }
}

// .bgShape {
//     position: relative;
//     width: 100vw;
// }

// .shadowPurple {
//     position: absolute;
//     right: 50px;
//     top: 30%;
//     z-index: -1;
//     transform: rotate(30deg);

//     @media (max-width:1220px) {
//         transform: translateY(50%);
//     }

//     @media (max-width:770px) {
//         top: 90%;
//         width: 500px;
//     }
// }

.shadowPurple {
    position: absolute;
    right: 0px;
    top: 600px;
    z-index: -1;
    // transform: rotate(30deg);
}


@media (max-width: 1185px) {
    section {
        // @include dFlex($fd:column);
        padding: 175px 0;
    }

    main {
        gap: 50px;
    }

    .head {
        padding-bottom: 50px;
    }

    .projectCard {
        flex-direction: column;
        gap: 0;
        padding: 0;
        width: 500px;

        :nth-child(1) {
            @include dFlex($jc: center, $ai: center, $fd: column, $gap: 15px);
        }
    }

    .buttons {
        gap: 0;
        justify-content: space-evenly;
    }

    .shadowPurple {
        top: 1000px;
    }
}

@media (max-width: 700px) {
    h2 {
        font-size: 60px;
    }

    .bgSection{
        scroll-margin-top: 0px
    }

    .head {
        span {
            padding: 0 50px;
        }
    }

    .projectCard {
        padding: 0 50px;
    }
}

@media (max-width: 500px) {

    .head {
        h2 {
            font-size: 60px;
        }

        span {
            padding: 0 25px;
        }
    }

    .headline {
        gap: 16px;
    }
    .shortLiDiv {
        width: 20%;
    }

    .h2Div {
        width: 60%;
    }

    .longLiDiv {
        width: 20%;
    }

    .shortLine {
        width: 20px;
    }

    .bigLine {
        width: 75px;
    }

    .projectCard {
        padding: 0 25px;
        width: auto;

        img {
            height: 300px;
        }
    }

    .shadowPurple {
        width: 500px;
        top: 900px;
    }
}

@media (max-width: 380px) {
    .head {
        h2 {
            font-size: 40px;
        }
    }   
}