@import "./fonts.scss";

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #141D2F;
  color: white;
  font-family: 'Poppins';
}

a {
  text-decoration: none;
  color: white;
}

.btnGrowing {
  display: flex;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: rgba(112, 230, 28, 1);
  padding: 15px 30px;
  font-size: 23px;
  transition: transform 60ms ease-in-out;
  transform-origin: top;

  &:hover {
    cursor: pointer;
    background-color: rgba(151, 71, 255, 1);
    transform: scaleY(1.2) scaleX(1.2);
  }
}